extends layout

block content
  #wrapper1
    #header-wrapper
      #headerder-wrapper
      #header.container
        #logo
          span.icon.icon-cogs
          h1
            a(href='#') Embellished
          span
            | Design by
            a(href='http://templated.co', rel='nofollow') TEMPLATED
        #menu
          ul
            li.current_page_item
              a(href='#', accesskey='1', title='') Homepage
            li
              a(href='#', accesskey='2', title='') Our Clients
            li
              a(href='#', accesskey='3', title='') About Us
            li
              a(href='#', accesskey='4', title='') Careers
            li
              a(href='#', accesskey='5', title='') Contact Us
    #wrapper2
      #welcome.container
        .title
          h2 Welcome to our website
        p
          | This is
          strong Embellished
          | , a free, fully standards-compliant CSS template designed by
          a(href='http://templated.co', rel='nofollow') TEMPLATED
          | . The photos in this template are from
          a(href='http://fotogrph.com/')  Fotogrph
          | . This free template is released under the
          a(href='http://templated.co/license') Creative Commons Attribution
          | license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
    #wrapper3
      #portfolio.container
        .title
          h2 Vivamus fermentum nibh
          span.byline Integer sit amet pede vel arcu aliquet pretium
        .column1
          .box
            span.icon.icon-wrench
            h3 Vestibulum venenatis
            p Fermentum nibh augue praesent a lacus at urna congue rutrum.
            a.button.button-small(href='#') Etiam posuere
        .column2
          .box
            span.icon.icon-trophy
            h3 Praesent scelerisque
            p Vivamus fermentum nibh in augue praesent urna congue rutrum.
            a.button.button-small(href='#') Etiam posuere
        .column3
          .box
            span.icon.icon-key
            h3 Donec dictum metus
            p Vivamus fermentum nibh in augue praesent urna congue rutrum.
            a.button.button-small(href='#') Etiam posuere
        .column4
          .box
            span.icon.icon-lock
            h3 Mauris vulputate dolor
            p Rutrum fermentum nibh in augue praesent urna congue rutrum.
            a.button.button-small(href='#') Etiam posuere
  #footer.container
    .title
      h2 Get in touch
      span.byline Phasellus nec erat sit amet nibh pellentesque congue
    ul.contact
      li
        a.icon.icon-twitter(href='#')
          span Twitter
      li
        a.icon.icon-facebook(href='#')
          span
      li
        a.icon.icon-dribbble(href='#')
          span Pinterest
      li
        a.icon.icon-tumblr(href='#')
          span Google+
      li
        a.icon.icon-rss(href='#')
          span Pinterest
  #copyright.container
    p
      | © Untitled. All rights reserved. | Photos by
      a(href='http://fotogrph.com/') Fotogrph
      | | Design by
      a(href='http://templated.co', rel='nofollow') TEMPLATED
      | .
