doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round')
  body
    block content
